* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ---- Header ---- */

header {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.flex-marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

.flex-marca img {
    height: 40px;
}

.marca {
    font-size: 0.7rem;

}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    border: 2px solid white;
}

.nav-list a {
    color: black;
}

.container {  
    margin: 0 auto;
}

@media(min-width: 480px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }

    .nav-list {
        flex-direction: row;
        gap: 1rem;
        font-size: 0.8rem;
    }
} 



/* ---- Main ---- */
/* ----Portada index ---- */

.portada-index {
    background-image: url(../img/ajedrez3.png);
    min-height: 18vh;
    background-position: center;
    background-size: cover;
    /* background-size: cover; */
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-portada {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-portada__title {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.4rem;
    color: white;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 2rem;

}

.texto-portada__subtitle {
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    width: 150px;
    text-align: center;
    line-height: 2.5rem;

}

/* ----Portada Creations ---- */

.portada-creations {
    background-image: url(../img/ajedrez8.png);
    height: 240px;
    background-position: center;
    background-size: cover;
    /* background-size: cover; */
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-creations h2{
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    text-align:center;
    padding-bottom: 0rem;
    line-height: 2.5rem;
}

.portada-creations p{
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 8rem;
    /* padding-bottom: 16rem; */
}

.portada-creations-sculptures {
    background-image: url(../img/soldados.png);
    height: 240px;
    background-position:center;
    background-size: cover;
    /* background-size: cover; */
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-creations-sculptures h2{
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    text-align:center;
    padding-bottom: 0rem;
    line-height: 2.5rem;
}

.portada-creations-sculptures p{
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 8rem;
}
.tarjeta-creations h3 {
    font-size: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
}
.tarjeta-sculptures h3 {
    font-size: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
}


@media(min-width: 480px) {
    .portada-index {
        min-height: 25vh;
    }

    .portada-creations{
        min-height: 50vh;
    }

    .portada-creations-sculptures{
        min-height: 50vh;
    }
}

@media(min-width: 768px) {
    .portada-index {
        min-height: 60vh;
    }

    .texto-portada__subtitle {
        width: 300px;
        font-size: 3.5rem;
        padding-top: 1rem;
        line-height: 4.5rem;
    }

    .texto-portada__title {
        font-size: 0.8rem;
    }

    .portada-creations{
        min-height: 85vh;
        line-height: 5rem;
    }
    .portada-creations h2{
        font-size: 4.5rem;
        padding-top: 1rem;
    }

    .portada-creations p{
        padding-bottom: 18rem;
    }

    .portada-creations-sculptures{
        min-height: 85vh;
        line-height: 5rem;
    }

    .portada-creations-sculptures h2{
        font-size: 4.5rem;
        padding-top: 1rem;
    }

    .portada-creations-sculptures p{
        font-size: 0.8rem;
        text-align: center;
        padding-bottom: 15rem;
    }

    
}


/* ---- Main Home ---- */

.flex_home {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}




/* ---- Targetas Imagen Portada ---- */

.tarjeta-imagen {
    border: 2px solid white;
    padding: 1rem;
    gap: 2rem;
}

.tarjeta-imagen img {

    /* padding: 10px 10px 10px 10px; */
}

.tarjeta-imagen .tarjeta-body {
    /* width: 80%;
    padding:10px 10px 10px 10px; */
}

.tarjeta-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    gap: 0.5rem;
}

.parrafo {
    font-size: 12px;
}

.tarjeta-body h3 {
    /* padding-bottom: 10px; */
}

@media(min-width: 768px) {
    .flex_home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
        justify-content: center;
        min-height: 80vh;
        margin: 0 auto;
        
    }

    .tarjeta-body {
        text-align: center;
    }

    .tarjeta-imagen img {
        /* height: 200px; */
    }

    .tarjeta-imagen {
        display: flex;
        flex-direction: column;

    }
    
    .tarjeta-sculptures img{
        
    }
}

/* ---- Targetas Proyectos Portada ---- */

.portada-projects {
    background-color: rgb(238, 235, 235);
    padding: 2rem;
    gap: 1rem;
    /* height: 750px; */
    /* display:fex;
    flex-direction: column;
    gap: 1rem; */
}

.projects-responsive {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portada-projects h2 {
    /* margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight:bold; */
    text-align: center;
    padding: 1rem;

}

.tarjeta-body-proyecto h3 {
    font-size: 1.2rem;
    padding-top: 0.7rem;
}

.tarjeta-body-proyecto h4 {
    font-size: 0.7rem;
}

.tarjeta-body-proyecto p {
    font-size: 0.7rem;
    text-align: justify;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}


@media(min-width:768px) {
    .projects-responsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;

    }

    .tarjeta-proyecto img {
        /* height: 250px; */
        /* align-self: center;
        justify-self: center; */

    }

    .tarjeta-body-proyecto p {
        font-size: 0.7rem;
        text-align: justify;
        padding-top: 0.5rem;
        padding-bottom: 0.8rem;
    }
}

/* ---- Targetas Exhibitions Portada ---- */

.portada-exhibitions {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

}

.portada-exhibitions h2 {
    /* text-align: left;
    padding-left: 100px;
    border: 2px solid white;
    padding-top: 0px;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight:bold;
    margin-top:0px; */
    text-align: center;
    padding: 1rem;
}

.flex-exhibitions-column img {
    /* height: 20vh;  */
}

.flex-exhibitions-column h3 {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px; */
    font-size: 1rem;
    padding-top: 0.7rem;
}

.flex-exhibitions-column h4 {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 5px; */
    font-size: 0.7rem;

}

.flex-exhibitions-column h5 {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; */
    font-size: 0.7rem;
}

.flex-exhibitions-column p {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 5px;
    text-align: justify; */
    font-size: 0.7rem;
    text-align: justify;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

@media(min-width:768px) {
    .exhibitions-responsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        justify-content: center;
        margin: 0 auto;
        column-gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .portada-exhibitions {
        min-height: 45vh;
    }
}

/* ---- Footer ---- */

footer {
    background-color: rgb(238, 235, 235);
    color: gray;
    padding: 1rem;
    /* height: 200px; */
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.footer-wrapper h5,
.footer-wrapper a {
    text-align: center
}

.footer-redes ul li a {
    color: gray;
    font-size: 0.8rem;
}

.footer-redes ul li a i {
    font-size: 1.2rem;
}

.footer-contact ul li {
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}

.footer-contact ul li a{
    color: gray;
}

.footer-index ul li{
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}

.footer-index ul li a{
    font-size: 0.8rem;
    color: gray;
}

@media(min-width: 480px){
    .footer-wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 3rem;
        align-items: start;
        padding-top: 2rem;
        
    }

    .footer-redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-newsletter{
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
