*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul,
ol{
    list-style:none;
    /* display: flex;
    padding: 16px;
    align-items: center;
    justify-items: center; */
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* ---- Header ---- */

header{
    background-color:white;
    padding: 16px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.flex-marca{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: 15px;
    border: 2px solid white;
    width: 950px;
 
}

.nav-list a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;   
}



/* ---- Main ---- */
/* ----Portada index ---- */

.portada-index{
    background-image: url(../img/ajedrez3.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items:center;
}

.texto-portada{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.texto-portada h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:white;
    font-weight: bold;
    height: 5px;
    padding-bottom: 25px;
    padding-top: 30px;
   
}

.texto-portada p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color:white;
    font-weight: bold;
    width: 500px;
    text-align: center;

}

/* ---- Main Home ---- */

/* h2{
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
} */

.flex_home{
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }

.aboutme_title{
    font-size: 80px;
    color: black;
    font-family:Helvetica;
    font-weight: bold ;
}

/* ---- Targetas Imagen Portada ---- */

.tarjeta-imagen{
    border: 2px solid white;
      
}

.tarjeta-imagen img {
    width: 80%;
    padding: 10px 10px 10px 10px;
}

.tarjeta-imagen .tarjeta-body{
    width: 80%;
    padding:10px 10px 10px 10px;
}

.tarjeta-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.tarjeta-body h3{
    padding-bottom: 10px;
}

/* ---- Targetas Proyectos Portada ---- */

.portada-projects{
    background-color: rgb(238, 235, 235);
    height: 750px;
}

.portada-projects h2{
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
}
    

.tarjeta-proyecto{
    border: 2px solid rgb(238, 235, 235);
    display: flex;
    align-items:flex-end;
    justify-content:center;

}

.tarjeta-proyecto img {
    width: 275px;
    height: 250px;
    padding: 10px 10px 10px 10px; 
}

.tarjeta-body-proyecto{
    text-align: left;
    width: 300px;
    padding: 10px 10px 10px 10px;
}

.tarjeta-body-proyecto h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.tarjeta-body-proyecto h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
}
.tarjeta-body-proyecto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
}

.flex-projects{
    display: flex;
    flex-direction: column;
}

.vertical-proyects{
    display:flex;
    align-items: center;
    justify-content:center;
}

/* ---- Targetas Exhibitions Portada ---- */

.portada-exhibitions{
    background-color: white;
    height: 750px;
}

.portada-exhibitions h2{
    text-align: left;
    padding-left: 100px;
    border: 2px solid white;
    padding-top: 0px;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight:bold;
    margin-top:0px;
}

.flex-exhibitions{
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    height: 590px;
    
}

.flex-exhibitions-column{
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

.flex-exhibitions-column img{
    height: 300px;
}

.flex-exhibitions-column h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
}

.flex-exhibitions-column h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 5px;
}

.flex-exhibitions-column h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.flex-exhibitions-column p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 5px;
    text-align: justify;
}

/* ---- Footer ---- */

.portada-footer{
    background-color: rgb(238, 235, 235);
    height: 200px;
}

.flex-footer{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;
    height: 200px;
    padding-top: 40px;
}

.flex-footer-column{
    display: flex;
    flex-direction: column;  
}

.flex-footer-column h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom:12px;
    color: gray;
}

.flex-footer-column a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    color:gray ;
    
 
}