$color-background: rgb(238, 235, 235);
$color-blanco: white;

$sombra-titulo: 5px 5px 5px black;
$sombra-parrafo: 2px 2px 2px black;
$sombra-tarjetas:2px 2px 10px;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

@mixin mq-mobile{
    @media(min-width: 480px){
        @content
    }
}


@mixin mq-tablet {
    @media(min-width: 768px) {
        @content
    }
}

@mixin mq-desktop {
    @media(min-width: 1024px) {
        @content
    }
}


