@mixin mq-mobile{
    @media(min-width: 480px){
        @content
    }
}

@mixin mq-tablet {
    @media(min-width: 768px) {
        @content
    }
}

@mixin mq-desktop {
    @media(min-width: 1024px) {
        @content
    }
}


$color-background: rgb(238, 235, 235);
$color-blanco: white;

$sombra-titulo: 5px 5px 5px black;
$sombra-tarjetas: 10px 10px 4px gray;


.portada {
    background-image: url(../img/ajedrez2.jpg);
    min-height: 35vh;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq-mobile(){
        min-height: 45vh;
    }

    @include mq-tablet(){
        min-height: 60vh;
    }

    @include mq-desktop(){
        min-height: 85vh;
    }

    &__texto {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__titulo {
            font-size: 0.4rem;
            color: white;
            font-weight: bold;
            padding-bottom: 0.1rem;
            padding-top: 2rem;
            text-shadow: $sombra-titulo;

            @include mq-mobile(){
                font-size: 0.6rem;
            }

            @include mq-tablet(){
                font-size: 0.8rem;
                padding-top: 0rem;
            }

            @include mq-desktop(){
                font-size: 1.2rem;
            }
        }

        &__subtitulo1 {
            font-size: 2.5rem;
            color: white;
            font-weight: bold;
            width: 180px;
            text-align: center;
            line-height: 2.5rem;
            text-shadow: $sombra-titulo;

            @include mq-mobile(){
                font-size: 2.8rem;
                line-height: 3rem;
                width: 200px;
            }

            @include mq-tablet(){
                width: 300px;
                font-size: 3.5rem;
                padding-top: 1rem;
                line-height: 3rem;
            }

            @include mq-desktop(){
                width: 400px;
                font-size: 5rem;
                padding-top: 1rem;
                line-height: 5.5rem;
            }
        }

        &__subtitulo2 {
            font-size: 2.5rem;
            color: white;
            font-weight: bold;
            width: 180px;
            text-align: center;
            line-height: 2.5rem;
            text-shadow: $sombra-titulo;

            @include mq-mobile(){
                font-size: 2.8rem;
                line-height: 3rem;
                width: 200px;
            }

            @include mq-tablet(){
                width: 300px;
                font-size: 3.5rem;
                padding-top: 1rem;
                line-height: 3rem;
            }

            @include mq-desktop(){
                width: 400px;
                font-size: 5rem;
                padding-top: 1rem;
                line-height: 5.5rem;
            }
        }

        &__subtitulo3 {
            font-size: 2.5rem;
            color: white;
            font-weight: bold;
            width: 180px;
            text-align: center;
            line-height: 2.5rem;
            text-shadow: $sombra-titulo;

            @include mq-mobile(){
                font-size: 2.8rem;
                line-height: 3rem;
                width: 200px;
            }

            @include mq-tablet(){
                width: 300px;
                font-size: 3.5rem;
                padding-top: 1rem;
                line-height: 3rem;
            }

            @include mq-desktop(){
                width: 400px;
                font-size: 5rem;
                padding-top: 1rem;
                line-height: 5.5rem;
            }
        }
    }
}


/* ---- Targetas Imagen Portada ---- */

.portada-tarjetas {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @include mq-tablet() {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
        justify-content: center;
        min-height: 80vh;
        margin: 0 auto;
    }

    @include mq-desktop() {
        padding-left: 8rem;
        padding-right: 8rem;
        column-gap: 1rem;
    }

    &__imagen {
        border: 2px solid white;
        padding: 1rem;
        gap: 2rem;

        @include mq-tablet() {
            display: flex;
            flex-direction: column;
        }

        @include mq-desktop(){
            
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
        gap: 0.5rem;

        @include mq-tablet() {
            text-align: center;
            padding-top: 0rem;
        }

        @include mq-desktop(){
            padding-top: 0rem;
        }
    }

    &__texto {
        font-size: 12px;
    }

}

/* ---- Projects ---- */

.portada-projects {
    background-color: $color-background;
    padding: 2rem;
    gap: 1rem;

    @include mq-desktop() {
        height: 100vh;
    }


    &__responsive {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        

        @include mq-tablet() {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include mq-desktop() {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-left: 8rem;
            padding-right: 8rem;
        }
    }

    &__titulo {
        text-align: center;
        padding: 1rem;

        @include mq-desktop() {
            padding: 2rem;
        }
    }


    &__subtitulo {
        font-size: 1.2rem;
        padding-top: 0.7rem;
    }


    &__fecha {
        font-size: 0.7rem;
    }

    &__texto {
        font-size: 0.7rem;
        text-align: justify;
        padding-top: 0.5rem;
        padding-bottom: 0.8rem;

        @include mq-tablet() {
            font-size: 0.7rem;
            text-align: justify;
            padding-top: 0.5rem;
            padding-bottom: 0.8rem;
        }
    }

}



/* ---- Exhibitions ---- */

.portada-exhibitions {
    background-color: $color-blanco;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    @include mq-tablet() {
        min-height: 45vh;
    }

    @include mq-desktop() {
        height: 140vh;
    }

    &__responsive {
        @include mq-tablet() {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
            justify-content: center;
            margin: 0 auto;
            column-gap: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include mq-desktop() {
            
        }
    }

    &__titulo {
        text-align: center;
        padding: 1rem;
    }

    &__subtitulo {
        font-size: 1rem;
        padding-top: 0.7rem;

        @include mq-desktop {
            font-size: 1.2rem;
        }
    }

    &__fecha {
        font-size: 0.7rem;

        @include mq-desktop {
            font-size: 0.9rem;
        }
    }

    &__ubicacion{
        font-size: 0.7rem;

        @include mq-desktop {
            font-size: 0.9rem;
        }
    }

    &__text{
        font-size: 0.7rem;
        text-align: justify;
        padding-top: 0.5rem;
        padding-bottom: 0.8rem;
    }

    &__tarjetas {

        @include mq-desktop() {
        }

        & img {
            height: 505px;
        }
    }

    &__body {
        @include mq-desktop() {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
        }
        
    }
}