<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <meta name="description" content="You will find a resume of sculpural art inspiration, materials and techniques used, themes and interpretation. If you would like to know more about purchasing a sculpture, commisioning a custom piece, or discuss other matters, please feel free to contact me.">
    <title>Diego Aznarez - Proffesion Biologist, passionate for nature and animals. Artist Ceramic Sculptures.</title>
</head>


<body>
    <header class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/horse.jpg" alt="Logo" class="" height="">
                <div class="marca">D.art</div>
            </a>


            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="creations.html">Creations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="aboutme.html" class="active">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <article class="aboutme">
                <h2>Transforming ideas into art</h2>
                <p>Welcome to this sample of sculptural art. My name is Diego Aznarez and through this three-dimensional art I communicate stories, emotions and beauty. I invite you to explore my creations, each piece reflects my passion and talent for shaping life into tangible form. I hope you find my sculptures as captivating as I find the process of creating them. Please feel free to contact me. </p>

            </article>
            <div>
                <img src="../img/fotoaboutme-comp.jpg" alt="Foto del escultor" height="">
            </div>

        </section>

        <section>
            <div class="aboutme__contactme">
                <h3 data-aos="zoom-in" data-aos-duration="3000" >Contact me...</h3>
                <div data-aos="zoom-in" data-aos-duration="3000" class="aboutme__formcontainer" >
                    <form action="">
                        <div class="aboutme__form">
                            <label class="form-text" for="name">First Name</label>
                            <input type="text" id="name" style="width: 250px" placeholder="First Name">
                        </div>

                        <div class="aboutme__form">
                            <label class="form-text" for="last_name">Last Name</label>
                            <input type="text" id="last_name" style="width: 250px" placeholder="Last Name">
                        </div>

                        <div class="aboutme__form">
                            <label class="form-text"  for="email">Email</label>
                            <input style="width: 250px" type="email" id="email" placeholder="Example@email.com">
                        </div>

                        <div class="aboutme__form">
                            <label class="form-text" for="telephone">Telephone</label>
                            <input type="telephone" id="telephone" style="width: 250px" placeholder="+598 99 999 999">
                            
                        </div>

                        <div class="form-responsive">
                            <div class="aboutme__form">
                                <label class="form-text" for="message">Message</label>
                                <textarea id="message" cols="38" rows="10" placeholder="Dear Diego..."></textarea>
                            </div>

                            <div>
                                <input class="aboutme__button" type="submit" value="Send">
                            </div>
                        </div>
                    </form>
                </div>

                <article class="aboutme__responsive">
                    <div class="aboutme__tarjetas" data-aos="flip-left" data-aos-duration="3000">
                        <h4>Juan Perez</h4>
                        <p>"Hi Diego! You know, the bull is a hit at home! Everyone admires him. I already identified two people who really liked them and I want to give them one as a gift. Could you give me an estimate price? thank you so much!" </p>
                    </div>

                    <div class="aboutme__tarjetas" data-aos="flip-left" data-aos-duration="3000">
                        <h4>Pedro Fernandez</h4>
                        <p>"Thank you very much for your work! It turned out beautiful and represents what I wanted. Thanks for materializing it!"</p>
                    </div>

                    <div class="aboutme__tarjetas" data-aos="flip-left" data-aos-duration="3000">
                        <h4>Natalia Gomez</h4>
                        <p>"Good morning! First of all, tell you that I love your work!! Secondly, I would like to ask for the price of the Erebor dwarves and chess game sculptures. Thank you very much and greetings."</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-wrapper">

            <div class="footer-wrapper__footer-index">
                <h5>About</h5>

                <a href="../index.html">Home</a>
                <a href="./aboutme.html">About me</a>

            </div>

            <div class="footer-wrapper__footer-contact">
                <h5>Contact</h5>

                <a href="./shop.html">Shop</a>
                <a href="./aboutme.html">Message</a>

            </div>

            <div class="footer-wrapper__footer-redes">
                <h5>Social</h5>
                <ul>
                    <li><a href=""><i class="bi bi-twitter"></bi-twitter></i>Twitter</a></li>
                    <li><a href=""><i class="bi bi-facebook"></bi-facebook></i>Facebook</a></li>
                    <li><a href=""><i class="bi bi-instagram"></i>Instagram</a></li>
                    <li><a href=""><i class="bi bi-linkedin"></i>LinkedIn</a></li>
                </ul>
            </div>
            <div class="footer-wrapper__footer-newsletter">
                <h5>Newsletter</h5>
                <form action="">
                    <input type="email" placeholder="Email">
                    <input type="submit" value="Suscribe">
                </form>
            </div>


            </section>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>