<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>About Me</title>
</head>
<body>
    <header>
        <div class="flex-marca">
            <img src="../img/horse.jpg" alt="" height="50px"/>
            <div class="marca">DArT</div>  
        </div>

        <nav>
            <ul class="nav-list">
                <li><a href="../index.html" class="a">Home</a></li>
                <li><a href="./creations.html" class="a">Creations</a></li>
                <li><a href="./shop.html" class="a">Shop</a></li>
                <li><a href="./login.html" class="a">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <article>   
                <div class="aboutme_title">Transforming ideas into art</div>
            </article>

            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eius nobis molestiae necessitatibus dolores nemo totam, neque possimus id tempore minima, voluptas error tenetur sit alias explicabo iusto illum dolorum?</p>
            </article>   
        </section>

        <section>
            <img src="" alt="">
        </section>

        <section>
            <article>
                <h3>Contact me</h3>

                <form action="">
                    <div>
                        <label for="name">First Name</label>
                        <input type="text" id="name">
                    </div>

                    <div>
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name">
                    </div>

                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email">
                    </div>

                    <div>
                        <label for="telephone">Telephone</label>
                        <input type="tel" id="telephone">
                    </div>

                    <div>
                        <label for="message">Message</label>
                        <input type="text" id="message">
                    </div>

                    <div>
                        <input type="submit" value="Send">
                    </div>

                </form>
            </article>

            <article>
                <div>
                    <h4>Nombre Cliente</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic minima laborum reiciendis velit unde modi ipsam, molestias pariatur quis reprehenderit quod voluptas ut sequi quaerat delectus aspernatur impedit debitis.</p>
                </div>

                <div>
                    <h4>Nombre Cliente</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic minima laborum reiciendis velit unde modi ipsam, molestias pariatur quis reprehenderit quod voluptas ut sequi quaerat delectus aspernatur impedit debitis.</p>
                </div>

                <div>
                    <h4>Nombre Cliente</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque hic minima laborum reiciendis velit unde modi ipsam, molestias pariatur quis reprehenderit quod voluptas ut sequi quaerat delectus aspernatur impedit debitis.</p>
                </div>
            </article>
        </section>
    </main>

    <footer class="portada-footer">
        <section class="flex-footer">
            <div class="flex-footer-column">
                <h5>About</h5>
                <a href="./index.html">Home</a>
                <a href="./templates/aboutme.html">About me</a>
            </div>

            <div class="flex-footer-column">
                <h5>Contact</h5>
                    <a href="./templates/shop.html">Shop</a>
                    <a href="./templates/aboutme.html">Message</a>
            </div>

            <div class="flex-footer-column">
                <h5>Social</h5>
                    <a href="">Twitter</a>
                    <a href="">Facebook</a>
                    <a href="">Instagram</a>
            </div>
        </section>

    </footer>
    
</body>
</html>