<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Creations</title>
</head>
<body>
    <header>
        <div class="flex-marca">
            <img src="../img/horse.jpg" alt="" height="50px"/>
            <div class="marca">DArT</div>  
        </div>

        <nav>
            <ul class="nav-list">
                <li><a href="../index.html" class="a">Home</a></li>
                <li><a href="./aboutme.html" class="a">About Me</a></li>
                <li><a href="./shop.html" class="a">Shop</a></li>
                <li><a href="./login.html" class="a">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <article>
                <div>
                    <h2>Chess Art</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia sed nisi, explicabo quae recusandae nulla asperiores fugiat unde saepe cupiditate velit suscipit sunt, repudiandae quas quo corporis hic. Voluptate, delectus!</p>
                </div>

                <div>
                    <img src="" alt="">
                </div>
            </article>

            <article>
                <div>
                    <img src="" alt="">
                    <h3>Imagen Chess 1</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Imagen Chess 2</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Imagen Chess 3</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Imagen Chess 4</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Imagen Chess 5</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Imagen Chess 6</h3>
                </div>
            </article>
        </section>
            
        <section>
            <article>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <h2>Sculptures</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia sed nisi, explicabo quae recusandae nulla asperiores fugiat unde saepe cupiditate velit suscipit sunt, repudiandae quas quo corporis hic. Voluptate, delectus!</p>  
                </div>
            </article>

            <article>
                <div>
                    <img src="" alt="">
                    <h3>Sculpture 1</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Sculpture 2</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Sculpture 3</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Sculpture 4</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Sculpture 5</h3>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Sculpture 6</h3>
                </div>
            </article>
        </section>
    </main>
    
    <footer class="portada-footer">
        <section class="flex-footer">
            <div class="flex-footer-column">
                <h5>About</h5>
                <a href="./index.html">Home</a>
                <a href="./templates/aboutme.html">About me</a>
            </div>

            <div class="flex-footer-column">
                <h5>Contact</h5>
                    <a href="./templates/shop.html">Shop</a>
                    <a href="./templates/aboutme.html">Message</a>
            </div>

            <div class="flex-footer-column">
                <h5>Social</h5>
                    <a href="">Twitter</a>
                    <a href="">Facebook</a>
                    <a href="">Instagram</a>
            </div>
        </section>
    </footer>

    
    
</body>
</html>