<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Shop</title>
</head>
<body>

    <header>
        <div class="flex-marca">
            <img src="../img/horse.jpg" alt="" height="50px"/>
            <div class="marca">DArT</div>  
        </div>

        <nav>
            <ul class="nav-list">
                <li><a href="../index.html" class="a">Home</a></li>
                <li><a href="./creations.html" class="a">Creations</a></li>
                <li><a href="./aboutme.html" class="a">About Me</a></li>
                <li><a href="./login.html" class="a">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <article>
                <div class="" >
                    <img src="" alt="" width="">
                    <div class="">Ready to go...</div>
                </div>
            </article>

            <article>
                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>

                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>

                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>

                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>

                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>

                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>

                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>

                <div>
                    <img src="" alt="">
                    <h3>Titulo producto</h3>
                    <span>$</span>
                </div>
            </article>
        </section>

        <section>
            <article>
                <div class="">
                    <img src="" alt="" width="">
                    <div class="" href="./aboutme.html">...or start creating!</div>
                </div>
            </article>
        </section>
    </main>
    
    <footer class="portada-footer">
        <section class="flex-footer">
            <div class="flex-footer-column">
                <h5>About</h5>
                <a href="./index.html">Home</a>
                <a href="./templates/aboutme.html">About me</a>
            </div>

            <div class="flex-footer-column">
                <h5>Contact</h5>
                    <a href="./templates/shop.html">Shop</a>
                    <a href="./templates/aboutme.html">Message</a>
            </div>

            <div class="flex-footer-column">
                <h5>Social</h5>
                    <a href="">Twitter</a>
                    <a href="">Facebook</a>
                    <a href="">Instagram</a>
            </div>
        </section>
    </footer>
    
</body>
</html>